#cards {
   display: flex;
   flex-wrap: wrap;
   width: 95%;
   /* 調整：寬度和標頭一致 */
   margin: 0 auto;
   /* 調整：牌桌置中 */
}

.card {
   box-sizing: border-box;
   flex: 7% 1 1;
   /* 調整：卡片需要分配的剩餘空間 */
   height: 8vw;
   border: 2px solid #e0e0e0;
   margin: 1.5px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.card img {
   max-width: 30%;
   align-self: center;
}

.card p {
   margin: 3px;
   font-size: 10px;
}

.card p:last-child {
   transform: rotate(180deg);
}

.back {
   background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
   background-size: cover;
}

.paired {
   background-color: #dae0e3;
}

#header {
   display: flex;
   margin: 0 auto;
   flex-direction: column;
   align-items: flex-end;
   width: 92%;
   padding-left: 0.5em;
}

#header .title {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

#header .title img {
   /* border: 5px solid; */
   padding-right: 0.5em;
   max-width: 5em;
}

#header .title h2 {
   /* border: 5px solid; */
   font-size: 160%;
   padding-top: 0.1em;
   padding-left: 0.5em;
}

#header .score {
   margin-top: 0 auto;
   color: #6c90ac;
   ;
}

#header .tried {
   margin-top: 0;
   color: #e15252;
}

.wrong {
   animation-name: wrongAnimation;
   animation-duration: 0.3s;
   /*動畫持續 0.3 秒*/
   animation-iteration-count: 5;
   /* 動畫重覆 5 次 */
}

@keyframes wrongAnimation {

   /*關鍵影格動畫工具*/
   to {
      /*指定動畫要產生的效果*/
      border: 2px solid #da2222
   }
}

/** Game finished **/
.completed {
   position: absolute;
   z-index: 999;
   top: 33vh;
   background-color: RGBA(232, 246, 254, 0.8);
   width: 100vw;
   padding: 50px 0;
}

.completed>p {
   font-size: 1.5em;
   color: black;
   text-align: center;
   margin: 0;
}

.completed>p:first-child {
   font-size: 3em;
   font-weight: 700;
   color: #1c5b18;
}